body{
    padding: 0px;
    margin: 0px;
}
h1 {
    color : #06283D;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.row1 {
    margin-left: 15px;
    margin-top: 30px;
}
/* Card {
    transform: scale(1.5);
    box-shadow: grey 5px;
} */

/* /////////////////////////////////// Navbar */
#navContainer {
    margin: 0rem 0.5rem;
}
.nav-link {
    color: white;
    margin: 0rem;
}

#_navbar {
    background-color: #06283D;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.feedback:hover {
    color: rgb(207, 207, 207);
}
/* //////////////////////////////////// FOOTER */

#footer_div {
    background-color: #06283D;
    width: 100%;
    height: 2.5rem;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}
#footer_para {
    text-align: center;
    font-size: 1rem;
    color: white;
}
#div_para {
    padding-top: 10px;
}

/* ///////////////////////////////////// Card */

.card_scale:hover {
    transform: scale(1.1);

}

/* //////////////////////////////////// sidebar */

#sidebar {
    background-color: #06283D;
    margin-top: 55px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 20%;
}

ul {
    font-size: 16px;
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

ul li a:hover{
    color: lightgreen;
}

ul li a{
    text-decoration: none;
    color: white;
}

/* //////////////////////////////////// tutorials */

#tutorials-body {
    padding-top: 100px;
    text-align: justify;
}

#left {
    float: left;
}
#right {
    float: right;
}

/* //////////////////////////////////////// code keeper */

.code-clipboard {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
}

#clipboard-button {
    padding: 10px 15px;
    /* background-color: #007bff; */
    float: right;
    display: grid;
    color: #007bff;
    border: none;
    cursor: pointer;
}

/* //////////////////////////////////// Feedback */

#feedback-form {
    padding: 100px;
}
#feedback-vector {
    margin: auto;
}